@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300,400;1,600,700&display=swap');

.body {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    overflow-x: auto; 
}

/* DESKTOP */

.navbar {
    background: rgba(80,134,204,1);
}

.navbar-brand {
    color: white!important;
    font-size: 1.5em;
    margin: 0em 2em 1em;
}

.nav-item{   
    font-size: .8em;
    font-weight: bold;
    padding-right: 2em;
}

.nav-link {
    color: white!important;
}

.banner {
    background: rgba(80,134,204,1);
    position: relative;
    overflow: hidden;
}

.header-img img{
    position: absolute;
    vertical-align: bottom;
}

.img-fluid {
    max-width: 60%!important;
}

.banner-text {
    padding: 5em 0em 0em 7em;
}

.headstart {
    font-weight: 300;
    color: white;
    margin-bottom: 1em;
    letter-spacing: .04em;
    font-size: 2.2em;
}

.Lorem-banner {
    color: white;
    line-height: 1em;
    font-size: 1em;
    padding-bottom: 1em;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 30px;
}

  .btn-primary {
    border-radius: 40px;
    background: #E6E62E;
    transition: all 0.3s ease 0s;
    color: black;
    font-weight: 600;
    border-color:  #E6E62E;
}
  
  .btn-primary:hover {
    color: #FFF;
    background: rgba(80,134,204,1);
}

  .btn-secondary {
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 600;
    border-color:  white;
}

  /* ABOUT  */


.middle {
    width: 100%;
    max-height: 70%;
}

.about {
    padding-right: 4em;
}

.about-section {
    padding: 5em 5em 2em 7em;
}  

.about-header {
    margin-left: .5em;
    margin-bottom: 1em;
    color: #3F334D;
}

.first-para {
    line-height: 40px;
    margin-top: -11px;
    text-align: left;
    font-size: 1em;
}

.second-para {
    line-height: 30px;
    margin-top: -4px;
    font-size: .8em;
}

.about-btn {
    margin-top: 2em;
    background-color: #3F334D;
    color: white;
    border-color: #3F334D;
}

.about-btn:hover {
    color: #FFF;
    background: #ccc;
}

  /* FORM */


 .form{
    background-color: #EDF5FC;
    padding: 2em;
 }

 .form-header {
    margin: 1em 0em 1em 0em;
    color: #3F334D;
 }
 .form-text {
    line-height: 1em;
    font-size: .8em;
    padding-bottom: 2.2em;
    line-height: 2em;
 }

 .form-btn {
    background-color: #6E67D2;
    margin-top: 2em;
    color: white;
    border-color: #6E67D2;
 }

 .form-labels {
    font-size: 1em;
    font-weight: 600;
 }

 .form-check-label {
    margin-top: .2em;
 }

 .form-check-input {
    margin-top: .1rem;
 }

 .form-check {
    font-size: .7em;
    padding-top: .5em;
 }

 .form .btn {
    align-content: center;
}

 /* FEATURES */


 .features {
     /* height: 80vh; */
     background-color: #3F334D;
 }

 .feature-header {
    margin-top: 2em;
    margin-bottom: 1em;
    color: white;
    white-space: nowrap;
    text-align: center;
 }

 .speedy-row {
     color: white;
     text-align: center;
     margin: 2em 5em 0em 5em;
 }

 .fa-clock {
     font-size: 4em;
     margin: .8em;
 }

 .speedy-response {
    font-size: 1em;
    padding-bottom: 1em;
 }

 .response-text {
    font-size: .8em;
 }

 .feature-btn {
     margin: 2em;
 }
 
 .feature-btn btn {
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 600;
    border-color:  white;
    text-align: center;
 }

 /* FOOTER */

 
 .social-links {
    list-style: none;
    text-align: center;
    margin-top: 1em;
}

.social-links li {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    padding-right: 9px;
}

.social-links a {
    display: inline-block;
    color: #3F334D;
}

.social-links li a:hover {
    color: #627A8E;
}

.social-links li a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

hr {
    width:50%;
    text-align:center;
    margin-left:25%;
}

.quick-links {
    list-style: none;
    text-align: center;
    margin-top: 1em;
}

.quick-links li {
    display: inline-block;
    font-size: .8em;
    margin-right: 2em;
    padding-right: 2em;
}

.quick-links a {
    display: inline-block;
    color: #3F334D;
}

.quick-links li a:hover {
    color: #627A8E;
}

.quick-links li a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.disclaimer {
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em 1em;
    text-align: center;
}

.legal {
    font-size: .5em;
}

/* MEDIA QUERIES */

/* Media Query for Mobile Devices */ 
@media (max-width: 500px) { 
    #wonderfl {
        font-size: 2em;
        margin: 0;
        padding: 0;
    }
    .banner{
        height: 65vh;
        padding-top: 2em;
    }
    .banner-text {
        padding: 0em 0em 0em 1em;
    }
    .buttons button {
        width: 90%;
        margin-top: 1em;
    }
    .Lorem-banner {
        font-size: 1.4em;
    }
    .about {
        padding-right: 0em;
    }
    .about-section {
        padding: 2em 3em 1em 2em;
    }
    .social-links li {
        display: inline-block;
        font-size: 1.5em;
        margin: 1em;
    }
    ul {
        margin-bottom: 0em!important;
    }
    .quick-links {
        list-style: none;
        text-align: center;
        margin-top: .5em;
    }
    .quick-links li {
        display: inline-block;
        font-size: .5em;
        margin-right: 1em;
        padding-right: 1em;
    }

}

/* Media Query for Mobile to Tablet Sizes */
@media (max-width: 767px) { 
  
}
          
/* Media Query for Tablets  */ 
@media (min-width: 768px) and (max-width: 1250px){ 
    .banner{
        height: 40vh;
        padding-top: 2em;
        /* background-image: url(img/banner-woman-transparent.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 20%;   */
    }
    .banner img {
        z-index: 1;
        vertical-align: bottom;
        float: right;
        opacity: .6;
        height: 100%;
        margin-right: 2em;
    } 
    .banner-text {
        padding: 0em 0em 0em 2em;
        z-index: 200;
    }
    .Lorem-banner {
        font-size: 1.5em;
    }
    .about {
        padding-right: 0em;
    }
    .about-section {
        padding: 4em 4em 2em 4em;
    }
    .about-header {
        margin-left: .1em; 
        margin-bottom: 2em;
    }
    .form{
        padding: 4em 4em 2em 4em;
     }
     .form .btn {
         float: left;
     }
    .social-links li {
        font-size: 2em;
    }
    ul {
        margin-bottom: 0em!important;
    }
     .disclaimer {
        margin-left: 20%;
        margin-right: 20%;
     }
     hr {
        width:85%;
        text-align:center;
        margin-left: 7.5%;
    }



/* SLIDER - WORK FOR FRIDAY */
/* Slideshow container */

    .slideshow-container .dot-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center
    }
  
  /* Slides */
    .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
    .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
    .dot-container {
    text-align: center;
    padding: 20px;
  }
  
  /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
    .active, .dot:hover {
    background-color: #717171;
  }
}